---
import BaseLayout from "@layouts/BaseLayout.astro";
import Logo from "@components/Logo.astro";
import PostOverview from "@components/PostOverview.astro";

import { getCollection } from "astro:content";
import Background from "@components/Background.astro";
const posts = await getCollection("blog");
const latestPost = posts.sort((postA, postB) =>
  postA.data.date > postB.data.date ? -1 : 1
)[0];

const pageTitle = "Home | Daniel Esquinazi";
---

<BaseLayout pageTitle={pageTitle}>
  <main
    class="h-full grid grid-rows-[auto_1fr] sm:grid-rows-[100vh] sm:grid-cols-[50%_50%]"
  >
    <div
      transition:name="hero-to-nav"
      transition:animate="none"
      id="hero"
      class="flex flex-col justify-center items-center text-center text-white py-4 relative"
    >
      <Background />
      <Logo />

      <!-- Short About Me -->
      <div class="mt-2 flex flex-col gap-2">
        <h1 class="text-3xl sm:text-4xl font-bold">
          Hi I'm<br />Daniel Alberto Esquinazi
        </h1>
        <p class="text-md max-w-80 mx-auto">
          Here I am going to write about Javascript, React and other frontend
          technologies
        </p>
        <div class="flex items-center justify-center gap-5 mt-6">
          <a
            class="w-26 py-2 px-5 bg-sky-500 hover:bg-sky-600 active:bg-sky-700 rounded-4xl border-0 cursor-pointer
         transition delay-10 duration-50 ease-in hover:scale-105"
            href="#">Portfolio</a
          >
          <a
            class="w-26 py-2 px-5 bg-sky-500 hover:bg-sky-600 active:bg-sky-700 rounded-4xl border-0 cursor-pointer
         transition delay-10 duration-50 ease-in hover:scale-105"
            href="/blog/">Blog</a
          >
        </div>
      </div>
    </div>

    <side
      id="content"
      class="py-2 px-4 sm:py-8 sm:px-6 md:padding-x-12 overflow-y-auto"
    >
      <section>
        <h2 class="text-2xl font-bold">About me</h2>
        <p class="text-md text-black">
          I live in Salta, Argentina but I born on a small city called Tartagal.
          I am a software developer who loves learning new technologies and play
          around or create things with them. Specifically I like working on the
          frontend using React, Typescript, Graphql, CSS-in-JS and other tools.
        </p>
      </section>
      <div class="h-0.25 bg-black my-2"></div>
      <section>
        <h2 class="text-2xl font-bold">Latest Post</h2>
        <PostOverview
          id={latestPost.id}
          title={latestPost.data.title}
          description={latestPost.data.description}
          date={latestPost.data.date}
          category={latestPost.data.category}
        />
      </section>
    </side>
  </main>
</BaseLayout>
