---
import { getCollection } from "astro:content";

import MainLayout from "@layouts/MainLayout.astro";

import PostOverview from "@components/PostOverview.astro";

import { ui } from "@i18n/ui";
import { languages } from "@i18n/utils";

const lang = Astro.params.lang as keyof typeof ui;
const posts = (await getCollection("blog")).filter(
  (post) => post.data.locale === lang,
);

const pageTitle = "Blog";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}
---

<MainLayout pageTitle={pageTitle}>
  <ul class="flex flex-col gap-5 max-w-250">
    {
      posts.map(({ data, slug }) => (
        <li>
          <PostOverview
            slug={slug.split("/").slice(1).join("/")}
            title={data.title}
            description={data.description}
            date={data.date}
            category={data.category}
          />
        </li>
      ))
    }
  </ul>
</MainLayout>
