---
import PostOverview from "@components/PostOverview.astro";
import type { ui } from "@i18n/ui";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { getStaticPathsLang } from "src/utils/get-static-paths-lang";

export const getStaticPaths = getStaticPathsLang;
const { lang } = Astro.params as { lang: keyof typeof ui };

const pageTitle = "Blog";

const posts = (await getCollection("blog")).filter(
  (post) => post.data.locale === lang,
);
---

<MainLayout pageTitle={pageTitle}>
  <ul class="flex flex-col gap-5 max-w-250">
    {
      posts.map(({ data, slug }) => (
        <li>
          <PostOverview
            slug={slug.split("/").slice(1).join("/")}
            title={data.title}
            description={data.description}
            date={data.date}
            category={data.category}
          />
        </li>
      ))
    }
  </ul>
</MainLayout>
